@import "reset.css";
@import "flipping.css";

body {
    text-align: center;
    background-color: #f5f5f5;
    font-family: "Luckiest Guy", "Helvetica Neue", sans-serif;
}

.container {
    width: 100%;
}

.game__header {
    height: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .095);
    line-height: 75px;
}

h1, h2 {
    text-transform: uppercase;
    background: linear-gradient(45deg, #a90329  33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 36px;
    margin-top: 20px;
}

.content {
    width: 95%;
    margin: 0 auto;
}

.start__button {
    font-size: 24px;
    text-transform: uppercase;
    font-family: "Luckiest Guy", "Helvetica Neue", sans-serif;
    padding-top: 10px;
    cursor: pointer;
    background: linear-gradient(45deg, #a90329  17%, #0D61BC 73%, #8AA9D6);
    color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.playing__field {
    width: 50%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    border: 1px solid lightslategray;
}
